* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  align-items: center;
}

.logo {
  color: #e60023;
  font-size: 26px;
  font-weight: bold;
}

.navbar nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
}

.login {
  background: #e60023;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 20px;
}

.signup {
  border: none;
  padding: 8px 14px;
  border-radius: 20px;
  background: #eee;
}


.hero {
  text-align: center;
  padding: 60px 0;
}

.hero h1 span {
  color: #008080;
}

.main img section {
  column-count: 4;
  column-gap: 100px;
  padding: 40px 60px;
  border-radius: 25px;
}

.main img section img {
  width: 100%;
  border-radius: 25px;
  margin-bottom: 15px;
  
}


.features {
 justify-content: flex-start;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 80px;
  background: #fafafa;
}

.feature button {
    justify-content: left;
  margin-top: 10px;
  background: #e60023;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
}


.signup-section {
  background: #555;
  color: white;
  padding: 100px;
  text-align: center;
}

.signup-box {
  background: white;
  padding: 20px;
  width: 300px;
  margin: 30px auto;
  border-radius: 10px;
}

.signup-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.signup-box button {
  background:red;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 20px;
}


footer {
  background: black;
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 60px;
}

footer a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 8px 0;
}
